extend ../__layout.jade

block content

    -var data = current.path.reduce(function (previousValue, currentValue, index) {
    -   if (index+1 === current.path.length) {
    -       return previousValue;
    -   }
    -   return previousValue[currentValue]
    -}, public)

    .wrapper
        h1 Projekte
        ul.layout
            for projekt in projekte
                li.layout__item.project-link.lap-and-up-one-third
                    a.project-link__link(href="./#{projekt}/")
                        .project-link__image(style="background-image: url('./#{projekt}/thumbnail.jpg')")
                        .project-link__image-bw(style="background-image: url('./#{projekt}/thumbnail-bw.jpg')")
                        .project-link__hover-overlay
                        h2.project-link__header= data[projekt]._data.index.name
                        h3.project-link__header.project-link__header--expertise= data[projekt]._data.index.kompetenz

